footer {
	background-color: $footer-bg;
	color: $white;

	&.--shadow {
	   -webkit-box-shadow: inset 0 60px 60px -60px rgba(0,0,0,0.3);
	   -moz-box-shadow: inset 0 60px 60px -60px rgba(0,0,0,0.3);
	   box-shadow: inset 0 60px 60px -60px rgba(0,0,0,0.3);
	}

	.footer__wrapper {
		@include outer-container();
		@include padding(30px 20px 30px 20px);
	}

	.footer__row {
		@include span-columns(12);
		@include padding(10px null 10px null);

		.footer__left{
			@include span-columns(12);
			@include media($tablet) {
				@include span-columns(5 of 12);
			}
			.footer__left--bottom {
				@include span-columns(12);
			}
		}
		.footer__right {
			@include span-columns(12);
			@include media($tablet) {
				@include span-columns(7 of 12);
			}
		}
		&.--highlighted {
			@include media($mobile) {
				margin-top: 20px;
			}
			background-color: #212121;
			border-radius: $border-radius;
			padding: 30px;
		}
		.footer__fineprint {
			font-size: modular-scale(-2);
			line-height: 1.4;
			opacity: 0.5;
			display: inline-block;
		}
	}

	// Additional elements
	.footer__icon {
		display: inline-block;
		background: url(../images/spr-icons-main.png);
		margin-right: 5px;
		&:hover {
			opacity: 0.9;
		}

		// modifiers
		&.--no-spr {
			background-image: none;
		}

		@mixin footer-sprite($width,$height,$x,$y) {
			width: $width;
			height: $height;
			background-position: $x $y;
		}		

		// specific icons
		&.--eu {
			@include footer-sprite(48px,48px,-576px,-194px);
		}
		&.--age {
			@include footer-sprite(45px,45px,-505px,-148px);
		}
		&.--facebook {
			@include footer-sprite(36px,36px,-540px,-72px);
		}
		&.--twitter {
			@include footer-sprite(36px,36px,-576px,-72px);
		}
		&.--earn {
			@include footer-sprite(72px,20px,-433px,-148px);
			position: relative;
			top: 7px;
		}
		&.--mga {
			@include footer-sprite(145px,45px,-766px,-141px);
		}
		&.--license {
			@include footer-sprite(24px,45px,-940px,-148px);
		}
	}

	hr {
		border-color: $loafer;
		opacity: 0.2;
	}
	strong {
		font-weight: $bold;
		margin-bottom: 10px;
		display: block;
	}
	p,span {
		font-size: modular-scale(-1);
		opacity: 0.6;
	}
	ul {
		list-style: none;
		font-size: modular-scale(-1);
		float: left;
		padding: 0px;
		margin-right: 50px;
		a {
			font-family: $roboto-stack !important;
			color: $white;
			opacity: 0.6;
			&:hover {
				opacity: 1;
				color: $white;
			}
		}
	}
}

