.hero__wrapper {
	@include outer-container();
	@include media(max-width $tablet) {
		@include padding(null 20px null 20px);
	}
}


.hero-1 {
	@include padding(150px null null null);
	background: url(../images/hero-background.jpg) $cocoa-brown no-repeat fixed;
	background-size: cover;
	@include hidpi(1.5) {
		background: url(../images/hero-background@2x.jpg) $cocoa-brown no-repeat fixed;
		background-size: 100%;
		background-size: cover;
	}
	
	.front-page__form {
		/* Found in ../components/_forms.scss */
	}
	.calendar{
		/* Found in ../components/_calendar.scss
						../components/_calendar-images.scss */
	}
	.switcher {
		/* Found in ../components/_switcher.scss */
	}
}

.hero-2 {
	/* Background has been declared in body found in ../layouts/header.scss */
	@include padding(60px null 60px null);
	min-height: 560px;
	.mechanics {
		/* Found in ../components/_mechanics.scss */
	}
}

.hero-3 {
    // background: #CCC;
    // -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    // -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    // box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	@include padding(60px null 60px null);
	background: url(../images/hero-3-background.png) $well-read repeat 0 23px fixed;
	.signup {
		/* Found in ../components/_forms.scss */
	}
}

.header {
	@include span-columns(12);
	h4 {
		@include media($mobile) {
			@include span-columns(10 of 12);
			@include shift(1);
		}
	}
	@at-root #{&}--centered {
		text-align: center;
	}
	@at-root #{&}--medium {
		font-weight: $medium;
	}
	a {
		font-weight: $bold;
		text-decoration: underline;
	}
}



