body {

	background: url(../images/hero-2-background.png) $body-bg repeat 0 2px fixed;
	@include media(max-width $mobile) {
		margin-top: -20px;
		//cheap fix to a spacing issue
	}
}

body * {
	transition: all 0.1s ease-in;
}
