.hero {
	background-color: $cocoa-brown;
	background: url(../images/hero-background.jpg);
	@include hidpi(1.5) {
		background: url(../images/hero-background@2x.jpg);
		background-size: 100%;
		background-size: cover;
	}
	background-attachment: fixed;
	background-repeat: no-repeat;
	.hero__wrapper {
		@include outer-container();
		@include media(max-width $mobile) {
			@include padding(null 30px null 30px);
		}
	}
}

.header {
	@include span-columns(12);
	h4 {
		@include media($mobile) {
			@include span-columns(10 of 12);
			@include shift(1);
		}
	}
	.--centered {
		text-align: center;
	}
	.--medium {
		font-weight: $medium;
	}
}

.form {
	@include margin(20px null 20px null)
	@include media($mobile) {
		@include span-columns(6);
		@include shift(3);
	}
	.form__input {
		@include fill-parent;
		@include media($mobile) {
			@include span-columns(6 of 10, $display: block-collapse);
		}
	}
	.form__button {
		@include fill-parent;
		@include media($mobile) {
			@include span-columns(4 of 10, $display: block-collapse);
		}
	}
}

.calendar {
	@include span-columns(12);
	#D25 {
		display: none !important;
	}

	.calendar__card {
		@include span-columns(4 of 12);
		@include margin(null 1px 2px 1px);
		background-color: $calendar-bg;
		color: $loafer;
		padding: 20px;

		&:nth-child(1) {
			margin-left: $gutter;
		}
		// corners
		&#block-25 { border-radius: 10px 0px 0px 0px; }
		&#block-27 { border-radius: 0px 10px 0px 0px; }
		&#block-3 { border-radius: 0px 0px 0px 10px; }
		&#block-5 { border-radius: 0px 0px 10px 0px; }
		&#block-25,&#block-27,&#block-3,&#block-5 {
			@include media(max-width $mobile) {
				border-radius: 0px;
			}
		}
	}
}