// Typography

body {
	font-size: $base-font-size;
	font-weight: $regular;
	font-family: $roboto-stack;
	line-height: $base-line-height;
	color: $loafer;
}

h1 {
	font-size: $h1-font-size;
	font-weight:$bold;
	font-family: $roboto-slab-stack;
	line-height: $h1-line-height;
	color: $loafer;
	@include media(max-width $mobile) {
		font-size: $h1-font-size--mobile;
		line-height: $h1-line-height--mobile;
	}
}

h2 {
	font-size: $h2-font-size;
	font-weight:$bold;
	font-family: $roboto-slab-stack;
	line-height: $h2-line-height;
	color: $loafer;
	@include media(max-width $mobile) {
		font-size: $h2-font-size--mobile;
		line-height: $h2-line-height--mobile;
	}
}

h3 {
	font-size: $h3-font-size;
	font-weight:$bold;
	font-family: $roboto-slab-stack;
	line-height: $h3-line-height;
	color: $loafer;
	@include media(max-width $mobile) {
		font-size: $h3-font-size--mobile;
		line-height: $h3-line-height--mobile;
	}
}

h4 {
	font-size: $h4-font-size;
	font-weight:$regular;
	font-family: $roboto-stack;
	color: $loafer;
	line-height: $h4-line-height;
	@include media(max-width $mobile) {
		font-size: $h4-font-size--mobile;
		line-height: $h4-line-height--mobile;
	}
}

h5 {
	font-size: $h5-font-size;
	font-weight:$regular;
	font-family: $roboto-stack;
	line-height: $h5-line-height;
	color: $loafer;
	@include media(max-width $mobile) {
		font-size: $h5-font-size--mobile;
		line-height: $h5-line-height--mobile;
	}
}

h6 {
	font-size: $h6-font-size;
	font-weight:$bold;
	font-family: $roboto-slab-stack;
	line-height: $h6-line-height;
	color: $loafer;
	@include media(max-width $mobile) {
		font-size: $h6-font-size--mobile;
		line-height: $h6-line-height--mobile;
	}
}



small {
	font-size: $small-font-size;
	line-height: $small-line-height;
}

a {
	// All links are Roboto Slab
	font-family: $roboto-slab-stack;
	color: $loafer;
	&:hover {
		color: darken($loafer,5%);
		text-decoration: none;
	}
	&:active, &:visited, &:link {
		color: $loafer;
		text-decoration: none;
	}
}

.--noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.--right {
	text-align: right;
}