.calendar {
	/* .calendar */
	@extend .hero__1__calendar; 
	@include span-columns(12);
	@include margin(null null 20px null);
	@include media($mobile) {
		/* screen size > $mobile */
		@include padding(null null null $gutter/2);
	}
	@include media($tablet) {
		/* screen size > $tablet */
		@include padding(null null null $gutter*1.35);
	}

	/* .calendar__card */
	&__card {
		margin-bottom: 2px;
		background-color: $calendar-bg;
		color: $loafer;
		padding: 20px;
		height: 280px;
		@include span-columns(6 of 12);
		@include margin(null 1px 2px 1px);
		@include media($tablet) {
			/* screen size > $tablet */
			/* 3 calendar cards per row when on desktop */
			@include span-columns(4 of 12);
			margin-right: 0px;
			height: 200px;
		}
		@include media(min-width $mobile max-width $tablet) {
			height: 260px;
		}

		@include direction-context(right-to-left) {
			/* .calendar__card__left */
			&__left {
				text-align: center;
				@include media($tablet) {
					/* screen size > $tablet */
					/* 2 column inside the card */
					@include span-columns(6 of 10);
					text-align: left;
				}
				@include media(max-width $mobile) {
					/* specific code for layer of polish */
					font-size: modular-scale(-1);
					line-height: modular-scale(-1)*$base-line-height-ratio;
				}
			}

			/* .calendar__card__right */
			&__right {
				@include media($tablet) {
					/* screen size > $tablet */
					/* 2 column inside the card */
					@include span-columns(4 of 10);
					padding-top: 20px;
				}
				margin-bottom: 10px;
			}
		}

		h3 {
			/* didn't want to repeat this twice */
			display: inline-block;
		}

		/* modifiders */
		/* SCSS declarations related to calendar thumbnails are found in calendar-images.scss */
		&--consecutive {
			/* .calendar__card--consecutive */
			h3 {
				border-bottom: 5px solid $well-read;
			}
		}
		&--nonconsecutive {
			/* .calendar__card--nonconsecutive */
			h3 {
				border-bottom: 5px solid $teal;
			}
		}
		&--mystery {
			/* .calendar__card--mystery */
			background-color: $newyear-bg;
		}
		&--passed {
			/* .calendar__card--passed */
			opacity: 0.5;
		}

	}

}

/* calendar corners */
@include media($tablet) {
	#block-1 { border-radius: $border-radius 0px 0px 0px; }
	#block-3 { border-radius: 0px $border-radius 0px 0px; }
	#block-10 { border-radius: 0px 0px 0px $border-radius; }
	#block-12 { border-radius: 0px 0px $border-radius 0px; }
}
@include media(min-width $mobile max-width $tablet) {
	#block-1 { border-radius: $border-radius 0px 0px 0px; }
	#block-2 { border-radius: 0px $border-radius 0px 0px; }
	#block-11 { border-radius: 0px 0px 0px $border-radius; }
	#block-12 { border-radius: 0px 0px $border-radius 0px; }
}
@include media(max-width $mobile) {
	#block-1 { border-radius: $border-radius $border-radius 0px 0px; }
	#block-12 { border-radius: 0px 0px $border-radius $border-radius; }
}