.calendar {
	@extend .hero__1__calendar; 
	@include span-columns(12);
	@include margin(null null 20px null);
	@include media($mobile) {
		/* screen size > $mobile */
		@include padding(null null null $gutter/2);
	}
	@include media($tablet) {
		/* screen size > $tablet */
		@include padding(null null null $gutter*1.35);
	}

	/* .calendar__card */
	&__card {
		margin-bottom: 2px;
		background-color: $calendar-bg;
		color: $loafer;
		padding: 20px;
		@include span-columns(6 of 12);
		@include margin(null 1px 2px 1px);
		@include media($tablet) {
			/* screen size > $tablet */
			/* 3 calendar cards per row when on desktop */
			@include span-columns(4 of 12);
			margin-right: 0px;
			height: 200px;
		}

		@include direction-context(right-to-left) {
			/* .calendar__card__left */
			&__left {
				@include media($tablet) {
					@include span-columns(6 of 10);
					text-align: left;
				}
				text-align: center;
			}

			/* .calendar__card__right */
			&__right {
				@include media($tablet) {
					@include span-columns(4 of 10);
					padding-top: 20px;
				}
				margin-bottom: 10px;
			}
		}

		h3 {
			/* didn't want to repeat this twice */
			display: inline-block;
		}

		/* modifiders */
		/* SCSS declarations related to calendar thumbnails are found in calendar-images.scss */
		&--consecutive {
			/* .calendar__card--consecutive */
			h3 {
				border-bottom: 5px solid $well-read;
			}
		}
		&--nonconsecutive {
			/* .calendar__card--nonconsecutive */
			h3 {
				border-bottom: 5px solid $teal;
			}
		}
		&--mystery {
			/* .calendar__card--mystery */
			background-color: $newyear-bg;
		}
		&--passed {
			/* .calendar__card--passed */
			opacity: 0.5;
		}

	}

}

/* calendar corners */
@include media($tablet) {
	#block-1 { border-radius: $border-radius 0px 0px 0px; }
	#block-3 { border-radius: 0px $border-radius 0px 0px; }
	#block-10 { border-radius: 0px 0px 0px $border-radius; }
	#block-12 { border-radius: 0px 0px $border-radius 0px; }
}
@include media(min-width $mobile max-width $tablet) {
	#block-1 { border-radius: $border-radius 0px 0px 0px; }
	#block-2 { border-radius: 0px $border-radius 0px 0px; }
	#block-11 { border-radius: 0px 0px 0px $border-radius; }
	#block-12 { border-radius: 0px 0px $border-radius 0px; }
}
@include media(max-width $mobile) {
	#block-1 { border-radius: $border-radius $border-radius 0px 0px; }
	#block-12 { border-radius: 0px 0px $border-radius $border-radius; }
}


// .calendar {
// 	margin-bottom: 20px;
// 	@include span-columns(12);

// 	@include media($mobile) {
// 		padding-left: $gutter/2;
// 	}
// 	@include media($tablet) {
// 		padding-left: $gutter*1.35;
// 	}

// 	.calendar__card {
// 		@include media($tablet) {
// 			@include span-columns(4 of 12);
// 			@include margin(null 1px 2px 1px);
// 		}

// 		@include media(min-width $mobile max-width $tablet) {
// 			@include span-columns(6 of 12);
// 			@include margin(null 1px 2px 1px);
// 			height: 265px;
// 		}

// 		@include span-columns(12);
// 		flex: 1;
// 		margin-bottom: 2px;
// 		background-color: $calendar-bg;
// 		color: $loafer;
// 		padding: 20px;
// 		min-height: 200px;

// 		// calendar__card content
// 		@include direction-context(right-to-left) {
// 			.--left-content {
// 				@include media($tablet) {
// 					@include span-columns(6 of 10);
// 					text-align: left;
// 				}
// 				text-align: center;
// 			}
// 			.--right-content {
// 				@include media($tablet) {
// 					@include span-columns(4 of 10);
// 					padding-top: 20px;
// 				}
// 				margin-bottom: 10px;
// 			}
// 		}

// 		// calendar__card h3
// 		h3 {
// 			display: inline-block;
// 		}
// 		&.--consecutive {
// 			h3 {
// 				border-bottom: 5px solid $well-read;
// 			}
// 		}
// 		&.--non-consecutive {
// 			h3 {
// 				border-bottom: 5px solid $teal;
// 			}
// 		}

// 		// calendar__card modifiers
// 		&.--mystery {
// 			background-color: $newyear-bg;
// 		}
// 		&.--passed {
// 			opacity: 0.5;
// 		}

// 		// Calendar Corners 
// 		// separated this to keep code readable
// 		@include media($tablet) {
// 			&#block-1 { border-radius: $border-radius 0px 0px 0px; }
// 			&#block-3 { border-radius: 0px $border-radius 0px 0px; }
// 			&#block-10 { border-radius: 0px 0px 0px $border-radius; }
// 			&#block-12 { border-radius: 0px 0px $border-radius 0px; }
// 		}
// 		@include media(min-width $mobile max-width $tablet) {
// 			&#block-1 { border-radius: $border-radius 0px 0px 0px; }
// 			&#block-2 { border-radius: 0px $border-radius 0px 0px; }
// 			&#block-11 { border-radius: 0px 0px 0px $border-radius; }
// 			&#block-12 { border-radius: 0px 0px $border-radius 0px; }
// 		}
// 		@include media(max-width $mobile) {
// 			&#block-1 { border-radius: $border-radius $border-radius 0px 0px; }
// 			&#block-12 { border-radius: 0px 0px $border-radius $border-radius; }
// 		}

// 	}
// }

// // Additional lines of CSS to simply add a layer of polish to the site
// .calendar__card {
// 	@include media(min-width 770px max-width 820px) {
// 		height: 220px;
// 	}
// }