@mixin calendar-sprite($x, $y) {
	background: url(../images/calendar_icons@2x.png);
	background-position: $x $y;
	margin: 0 auto;
	transition: 0s;
	width: 70px;
	height: 70px;
	background-size: 840px; /* 70*12 */
	@include media($tablet) {
		width: 90px;
		height: 90px;
		background-size: 1080px; /* 90*12 */
	}
}

.calendar {
	@for $i from 0 through 11 {
		&__card--consecutive {
			&#block-#{$i+1} {
				.calendar__card__image {
					@include calendar-sprite($i*-70px,0px);
					@include media($tablet) {
						@include calendar-sprite($i*-90px,0px);
					}
				}
			}
		}
		&__card--nonconsecutive {
			&#block-#{$i+1} {
				.calendar__card__image {
					@include calendar-sprite($i*-70px,-70px);
					@include media($tablet) {
						@include calendar-sprite($i*-90px,-90px);
					}
				}
			}
		}
	}
}
