.input {
	border: none;
	outline: none;
	border-radius: $border-radius;
	height: 50px;
	-webkit-appearance: none;
	@include fill-parent;
	@include padding(null 15px null 15px);
	@include margin(null null 15px null);
	
	/* .input--text */
	&--text {
		background-color: $loafer;
	}

	/* .input--button */
	&--button {
		@extend .button;
	}

	/* .input--big */
	&--big {
		height: 60px;
	}

	/* .input--attached-left */
	&--attached-left {
		border-radius: $border-radius $border-radius 0px 0px;
		margin-bottom: 0px;
		@include media($mobile) {
			/* when screen width > $mobile */
			/* its assumed that the left value input will be on top come mobile */
			border-radius: $border-radius 0px 0px $border-radius;
		}
	}
	/* .input--attached-right */
	&--attached-right {
		border-radius: 0px 0px $border-radius $border-radius;
		@include media($mobile) {
			/* when screen width > $mobile */
			border-radius: 0px $border-radius $border-radius 0px;
		}
	}
}

/* placeholders */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $mine-shaft;
    opacity: 0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $mine-shaft;
   opacity: 0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $mine-shaft;
   opacity: 0.5;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $mine-shaft;
   opacity: 0.5;
}

