.front-page__form {
	@include margin(20px null 20px null)
	@include media($mobile) {
		@include span-columns(6);
		@include shift(3);
	}
	.form__input {
		@include media($mobile) {
			@include span-columns(6 of 10, $display: block-collapse);
		}
	}
	.form__button {
		@include media($mobile) {
			@include span-columns(4 of 10, $display: block-collapse);
		}
	}
}

.signup {
	@include span-columns(12);
	@include media($tablet) {
		@include span-columns(4 of 12);
		@include shift(4);
	}
	@include media(min-width $mobile max-width $tablet) {
		@include span-columns(6 of 12);
		@include shift(3);
	}
	@include margin(20px null 20px null);
	text-align: center;
	color: $loafer;
}

input {
	background-color: $loafer;
	border: none;
	height: 50px;
	outline: none;
	-webkit-appearance: none;
	@include padding(null 15px null 15px);
	margin-bottom: 15px;
	border-radius: 6px;
	@include fill-parent;

	// modifiers
	&.--button {
		font-family: $roboto-slab-stack;
		color: $loafer;
	}
	
	&.--red {
		background-color: $well-read;
		&:hover {
			background-color: darken($well-read,5%);
		}
	}
	&.--teal {
		background-color: $teal;
		&:hover {
			background-color: darken($teal,5%);
		}
	}

	&.--big {
		height: 60px;
	}

	&.--attached-left {
		border-radius: 6px 6px 0px 0px;
		//Its assumed that the left value will be on top
		@include media($mobile) {
			border-radius: 6px 0px 0px 6px;
		}
	}
	&.--attached-right {
		border-radius: 0px 0px 6px 6px;
		@include media($mobile) {
			border-radius: 0px 6px 6px 0px;
		}
	}
}

// placeholders
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $mine-shaft;
    opacity: 0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $mine-shaft;
   opacity: 0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $mine-shaft;
   opacity: 0.5;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $mine-shaft;
   opacity: 0.5;
}