@mixin mechanic-steps-image($x) {
	background: url(../images/steps@2x.gif);
	background-position: $x;
	width: 115px;
	height: 115px;
	background-size: 400%;
	display: block;
	@include margin(null auto 20px auto);
}

.mechanics {
	/* .mechanics */
	@extend .hero__2__mechanics;
	&__steps {
		/* .mechanics__steps */
		position: relative;
		padding: 20px;
		color: $loafer;
		text-align: center;
		@include span-columns(12);
		@include media($tablet) {
			@include span-columns(3 of 12);
			@include padding(40px 20px 40px 20px);
			@include margin(40px null 30px null);
		}

		&__image {
			/* .mechanics__steps__image */
			&--1 {
				/* .mecahnics__steps__image--1 */
				position: relative;
				left: 10px;
				@include mechanic-steps-image(0);
			}
			&--2 {
				@include mechanic-steps-image(-115px);
			}
			&--3 {
				@include mechanic-steps-image(-230px);
			}
			&--4 {
				@include mechanic-steps-image(-345px);
			}
		}
		&__arrow {
			/* mechanics__steps__arrow */
			width: 31px;
			height: 30px;
			background: url(../images/arrow--down.svg);
			@include margin(40px auto 20px auto);
			@include media($tablet) {
				width: 29px;
				position: absolute;
				right: -30px;
				top: 50px;
				background: url(../images/arrow.svg);
			}
		}

		/* modifiers */
		&--highlight {
			/* mechanics__steps--highlight */
			background-color: $mechanic-bg;
			border-radius: $border-radius;
		}
	}
}

