.modal__background {
	width: 100%;
	height: 100%;
	background-color: $modal-bg;
	position: fixed;
	z-index: 5;
	top: 0px;
	left: 0px;
	display: none;
	opacity: 0;
}

.modal__wrapper {
	margin-top: 8%;
	@include media(max-width $mobile) {
		margin-top: 16%;
	}
	@include outer-container();
	@include padding(null 20px null 20px);
	color: $loafer;
	text-align: center;
	p {
		opacity: 0.3;
		margin-top: 20px;
		position: relative;
		top: 20px;
	}

	.modal__ {
		@include span-columns(12);
		background: url(../images/modal_background-image--mobile@2x.jpg);
		animation: panning 100s infinite linear;
		background-size: 150%;
		text-align: center;
  		color: $loafer;
		border-radius: 16px;
		box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10);
		@include padding(10% 5% 10% 5%);
		position: relative;
		z-index: 10;
		@include media($tablet) {
			background: url(../images/modal_background-image@2x.jpg);
			background-size: 150%;
			animation: panning 100s infinite linear;
			min-height: 560px;
		}


		.modal__button {
			border-radius: 6px;
			background-color: $teal;
			@include media($mobile) {
				width: 300px;
				margin-top: 20px;
			}
			font-size: modular-scale(1);
			width: 100%;
			display: inline-block;
			text-align: center;
			line-height: 60px;
			&:hover {
				background-color: darken($teal,5%);
				cursor: pointer;
			}
		}

		h1 {
			@include media(max-width $mobile) {
				font-size: modular-scale(3);
			}
		}
	}
}

/* For panning background-image on __modal */
@keyframes panning {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
   50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 0 100%;
  }
  200% {
    background-position: 0 0;
  }
}